.container {
    max-width: 1270px;
    border: 2px solid red;
}

[class*="col-"] {
    height: 100%;
    border: 1px solid black;
}

/* nav bar  */

nav .container .row {
    height: 100px;
}


/* /nav bar */

/* jumbotron */

.profile_image {
    height: 200px;
}

.jumbotron > [class*="col-sm-12"]:not(.profile_image){
    height: 100px;
}

/* /jumbotron */