.container {
    max-width: 1270px;
    border: 2px solid red;
}

[class*="col-"] {
    height: 100%;
    border: 1px solid black;
}

/* nav bar  */

nav .container .row {
    height: 100px;
}


/* /nav bar */

/* jumbotron */

.profile_image {
    height: 200px;
}

.jumbotron > [class*="col-xs-12"]:not(.profile_image){
    height: 100px;
}

/* /jumbotron */


/* 1sezione */

.first_section_title {
    height: 100px;
}


#first_section .container .row [class*="col-xs-12"]:not(.first_section_title) {
    height: 300px;
}

#first_section .container .row >* {
    margin-top: 30px;
}

/* /1sezione */

/* 2sezione */

.about {
    height: 400px;
    margin-top: 30px;
}

/* /2sezione */

/* 3sezione */

.contact_me {
    height: 200px;
}

#third_section .container .row [class*=col-xs-12]:not(.contact_me){
    height: 100px;
}

#third_section .container .row [class*=col-xs-12]:nth-child(5) {
    height: 300px;
}

/* /3sezione */

/* footer */

footer {
    background-color: rgb(68, 99, 158);
}

footer .container .row [class*="col-xs-12"]{
    height: 100px;
    margin-top: 30px;
}

/* /footer */